<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!-- Configure Box w-d4
    -->
    <add 
        name="BerfDbEntities" 
        connectionString="metadata=res://*/BerfDataEfContext.BerfDataEf.csdl|res://*/BerfDataEfContext.BerfDataEf.ssdl|res://*/BerfDataEfContext.BerfDataEf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2012;initial catalog=Berf;user id=berfUser;password=B932172B;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Berf" connectionString="Data Source=.\SQLSERVER2012;Initial Catalog=Berf;User Id=berfUser;Password=B932172B;Connect Timeout=60;" providerName="System.Data.SqlClient" />

    <!-- Configure Box l-BerfDb
    <add name="BerfDbEntities" connectionString="metadata=res://*/BerfDataEfContext.BerfDataEf.csdl|res://*/BerfDataEfContext.BerfDataEf.ssdl|res://*/BerfDataEfContext.BerfDataEf.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2014;initial catalog=BerfDb;user id=berfUser;password=B932172B;connect timeout=60;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->


<!-- Configure Box l-mdb
    <add name="Berf" connectionString="Data Source=.\SQLSERVER2014;Initial Catalog=midb;User Id=berfUser;Password=B932172B;Connect Timeout=60;" providerName="System.Data.SqlClient" />
    -->

    <!-- Configure Box l-BerfDb
    <add name="Berf" connectionString="Data Source=.\SQLSERVER2014;Initial Catalog=BerfDb;User Id=berfUser;Password=B932172B;Connect Timeout=60;" providerName="System.Data.SqlClient" />
    -->


  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>